* {
  margin: 0;
  padding: 0;
}

#libroAbierto {
  position: absolute;
  width: 650px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #003a0d;
  background-image: url('/images/libroAbierto.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(250, 249, 249, 0.5);
}

#portada {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: transparent;
}

.pagina {
  position: absolute;
  margin-top: 30px;
  background-color: rgb(211, 146, 60);
  background-image: linear-gradient(to bottom right, rgb(228, 178, 113), rgb(211, 146, 60));
  color: rgb(0, 0, 0);
  width: 240px;
  height: 335px;
  margin-left: 330px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px -3px 5px -5px rgb(238, 171, 83);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: transform 0.75s ease;
  transform-origin: left center;
  transform-style: preserve-3d;
}

.pagina.rotado {
  transform: rotateY(180deg) translateX(15px);
}

.pagina.decolorado {
  background-image: linear-gradient(to top left, rgb(228, 178, 113), rgb(253, 208, 150));
}

.pagina.invisible {
  box-shadow: none;
  color: transparent;
}

.abrirLibro {
  position: absolute;
  bottom: 10px;
  margin-left: 40px;
  transform: translateX(-50%);
  padding: 8px 12px;
  font-size: 14px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.abrirLibro:hover {
  color: crimson;
  text-decoration: underline;
}

.desaparece {
  color: transparent;
}

.aparece {
  color: black;
}
